@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: "liga", "clig", "kern";
}

.dropcap::first-letter {
  float: left;
  margin-right: 0.4rem;
  font-size: 2.7rem;
  line-height: 1;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: currentColor;
}
